<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0)" data-action="dashboard">Dashboard</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul id="navbar-menu-user" class="nav navbar-nav">
        <li class=""><a href="javascript:void(0)" class="waves-effect" data-action="gasto"><i class="fa fa-bar-chart-o"></i><span> Gasto </span></a></li>
        <li class=""><a href="javascript:void(0)" class="waves-effect" data-action="gasto-utilidad"><i class="fa fa-line-chart"></i><span> Gasto vs Utilidad </span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {{if Autenticado}}
        <li><a href="javascript:void(0)" class="waves-effect waves-light" data-action="logout"><i class="md md-lock-open"></i> ${Nombre} ${Apellidos} | Cerrar sesión</a></li>
        {{else}}
        <li><a href="javascript:void(0)" class="waves-effect" data-action="login"><i class="md md-lock"></i><span> Iniciar sesión</span></a></li>
        {{/if}}
    </ul>
</div>
